
body{
    font-family: "Montserrat";
}
/* alingment */

.align-text{
text-align: center;
}
/* heading */
.big-head {
    font-weight: 900; 
    font-size:3.5rem;
    line-height:1.5;
}

/* section */
.colored-section{
background: #ff4c68;
color: white;
}

.white-section{
background:white;
color: black;
}

/* navbar */
.container-fluid{
    padding:3% 15% 7%;
}

#iphone6{
    position: relative;
}
.iphone {
   width: 60%;
   transform: rotate(25deg);
   position:absolute;
   right: 30%;
       }

.navbar {
    padding:  0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

.nav-link{
        font-size: 20px;
}
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.download-button{
    margin:5% 3% 5% 0;
}


@media (max-width: 1040px) {
    .iphone{
        position: static;
        transform: rotate(0);
    }

    .text-title{
        text-align: center;
    }
}

/* features section */

#features{
    padding: 7% 15%;
    position:relative;
   }
.feat-icon{
    color:#ef8172;
    text-align: center;
    margin-bottom: 1rem;
}
.col-lg-4{
    margin: 50px 0 50px 0;
    text-align: center;
}
.feat-p{
    padding: 0 25%;
    color: #8f8f8f;
}
h3{
   font-weight: 900;
   }

.feat-icon:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials{
   background:  #ef8172;
  }


.test-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press{
    background:  #ef8172;
        padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/* pricing section */

h2{
    font-weight: bolder;
}

#pricing{
    padding: 100px;
 }


.pricing-btn{
    margin:5% 3% 5% 0;
    width: 100%;
}

.pricing-col{
    padding-top:3% 2%;
    }

/* Call to action  */

#cta{
       position: relative;
  }

h4{
    width: 60%;
    margin: auto;
    padding: 5% 0 0;
     font-size: 3.5rem;
  }

.cta-btn{
   margin: 2% 0 6% 1%;
}

/* footer */

.footer-icon{
    margin: 5% 1% 2%;
}
.footer-icon:hover{
    color: #ff4c68;
}